[Desktop Entry]
Name=KutOS Installer
Comment=KutOS Installer — otomatik başlat
Exec=pkexec /usr/local/bin/kutos-installer
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
X-GNOME-Autostart-enabled=true
StartupNotify=true
