[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=KutOS Installer
Comment=Install KutOS
Exec=/usr/local/bin/kutos-bootstrapper
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
