[Desktop Entry]
Name=KutOS Installer
Comment=Install KutOS to your disk (Net-Installer)
Exec=pkexec /usr/local/bin/kutos-bootstrapper
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
