[Desktop Entry]
Name=KutOS Settings
Comment=Central configuration tool for KutOS Linux
Exec=/usr/local/bin/kutos-settings
Icon=kutos-settings
Terminal=false
Type=Application
Categories=Settings;System;
Keywords=config;setup;theme;kutos;settings;desktop;
StartupNotify=true
